@font-face {
    font-family: Mostra Nuova;
    src: url(Fonts/Mostra\ Nuova\ Regular.otf)
}
body {
    font-family: Mostra Nuova;
    background-color: white;
}
img {
    max-width: 100%;
    height: auto;
}
/*Global Selectors */
  * {
   box-sizing: border-box;
   border-color: black;
   }
/* Navigation */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    border: solid 2pt #8E4B2B;
    background-color: #8E4B2B;
    padding: 10px;
}
.nav-links a {
    text-decoration: none;
    padding: 10px;
    color: rgb(22, 22, 22);
    color: black;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: larger;
}
.button {
    border: none;
    font-family: Mostra Nuova;
    font-weight: bold;
    background-color: #8E4B2B; 
    font-size: larger;
    font-size: 20px;
}
.image2 {
    flex-basis: 50%;
}
@media(max-width: 500px) {
    .image2 {
        flex-basis: 100%;
    }
}
.grid-container {
    display:grid;
    
}
/* layout */
.display-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}
.max-width {
    max-width: 600px;
    margin: 0 auto;
}
/* alignment */
.textbox1 {
    border: 2px solid black;
    fallback: 0;
}
/* spacing */
.margin-btm {
   margin-bottom: 2em;
}
.padded {
    padding: 32px;
}

*{
    margin: 0;
    padding: 0;
}
.logo {
    border-radius: 500px;
    width: 75px;
}
h3 {
    font-family: Mostra Nuova;
    font-weight: lighter;
    font-size: 35px;
    font-kerning: 5px;
    justify-content: center;
}
.imagemain {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.textbox {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    border: solid #8E4B2B;
    background-color: #8E4B2B;
    text-align: center;
    font-weight: lighter;
}
.image2 {
    flex-basis: 50%;
}
.second-ul {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    text-align: center;
}
.second-ul li {
    list-style: none;
    margin-left: auto;
    font-size: 15px;
}
.second-ul li a {
    text-decoration: none;
    color: black;
    font-family: Mostra Nuova;
    font-weight: bold;
}
.third-ul {
    justify-content: left;
    align-items: center;
    margin-left: auto;
    text-align: center;
}
.third-ul li {
    list-style: none;
    margin-left: auto;
    font-size: 15px;
}
.third-ul li a {
    text-decoration: none;
    color: black;
    font-family: Mostra Nuova;
    font-weight: bold;
}
h4 {
    text-align: center;
    font-family: Mostra Nuova;
    font-weight: lighter;
    font-size: 25px;
    font-kerning: 5px;
    color: #8E4B2B;
}

/* Animations */
.fade--in, .fade--in-2 {
    opacity: 0;
}
.fade--in.active, .fade--in-2.active {
    animation-name: fade--in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes fade--in {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
     opacity: 1;
     transform: translateY(0);
    }
}
.scale--up.active {
    animation-name: scale--up;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes scale--up {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1)
    }
}